/vendor/
/vendor-bin/*/vendor/
/vendor-bin/*/composer.lock
/build/
/composer.lock
/phpunit.xml
/.phpunit.result.cache
/.phpcs-cache/*
/.psalm.cache/*
/.phpcs-cache
/malt.json
/malt/
/public/
/tests/sql/ai_prompts/
